/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka+One&display=swap');

/* GENERAL BODY ADJUSTMENTS */

body {
    margin: 0;
    background: url(background_2.webp);
}

/* NAV */

nav {
    background-color: #1a1919;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    color: white;
    list-style: none;
    width: 100%;
}

.push {
    display: flex;
    margin-left: auto;
}

li {
    margin: 0px 20px;
    color: white;
    font-size: .9em;
}

a {
    text-decoration: none;
    color: white;
}

.contactMe {
    border: 1px solid white;
    padding: 8px;
    border-radius: 20px;
}

.contactMe:hover {
    background: white;
    color: #1a1919;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* COVER */

.cover {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

.cover-content {
    height: 100%;
    width: 64%;
    display: flex;
    justify-content: space-between;
    border: 2px gray solid;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #1a1919;
    background: #ebe6e6;
}

.pic-div {
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-text {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courgette', cursive;
    letter-spacing: 1px;
    margin-top: 30px;
}

.cover-text h2 {
    font-size: 1.9rem;
}

.cover-text h3 {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 5 auto;
    font-size: 1.1rem;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* Typing Effect */
@keyframes typing {
    from { width: 0 }
    to { width: 53% }
}

/* Typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.circular {
    border-radius: 50%;
    width: auto;
    height: 210px;
}

.socials i {
    margin: 0px 10px;
}

.socials a {
    color: black;
}

.fa-github:hover {
    color: #7DBBE6;
}

.fa-linkedin:hover {
    color: #0e76a8;
}


/* MOCK PROJECTS */

#mock-projects-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.mock-websites {
    width: 50%;
    padding: 10px;
    border: 2px black solid;
    border-radius: 20px;
    background: #ebe6e6;
}

.mock-website-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.Mikes-BBQ-Restaurant {
    display: flex;
}

.text-and-links {
    width: 62%;
}

.Mikes-BBQ-Pic {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.source-links {
    color: blue;
}

/* JAVASCRIPT PROJECTS */
/* Weather API Finder */

.javascript-projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.javascript-projects-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.WeatherAPI-Finder {
    display: flex;
    justify-content: space-evenly;
}

.WeatherAPI-Finder-Pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Joke Teller */

.Joke-Teller {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}

.Joke-Teller-Pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1630px){
    @keyframes typing {
        from { width: 0 }
        to { width: 64% }
    }
}

@media screen and (max-width: 1480px){
    .circular {
        height: 200px;
    }

    .cover-text {
        font-size: .85rem;
    }

    .cover {
        height: 45vh;
    }

    #mock-projects-body {
        font-size: .8rem;;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 93% }
    }

}

@media screen and (max-width: 1230px){
    .circular {
        height: 150px;
    }

    .cover {
        height: 40vh;
    }

    .cover-text h3 {
        font-size: 1rem;
    }

    .cover-text h2 {
        font-size: 1.5rem;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 96% }
    }
}

@media screen and (max-width: 1130px){
    .cover-content {
        width: 60%;
    }

    .cover-text h3 {
        font-size: .8rem;
    }

    .cover-text h2 {
        font-size: 1.1rem;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 96% }
    }
}

@media screen and (max-width: 950px){
    .cover-text h3 {
        font-size: .73rem;
    }

    .cover-text h2 {
        font-size: 1rem;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 96% }
    }
}

@media screen and (max-width: 850px){
    .circular {
        height: 120px;
    }

    .cover {
        height: 35vh;
    }

    .cover-text h3 {
        font-size: .61rem;
    }

    .cover-text h2 {
        font-size: .81rem;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 93% }
    }

    .contactMe {
        padding: 2px;
        font-size: .6rem;
    }

    ul li {
        font-size: .6rem;
        margin: 0px 4px;
    }

    #mock-projects-body {
        font-size: .65rem;;
    }
}

@media screen and (max-width: 685px){
    .circular {
        height: 95px;
    }

    .cover {
        height: 35vh;
    }

    .cover-text h3 {
        font-size: .5rem;
    }

    .cover-text h2 {
        font-size: .65rem;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 96% }
    }

    ul li {
        font-size: .4rem;
        margin: 0px 3px;
    }

    .contactMe {
        padding: 2px;
        font-size: .4rem;
    }
}

@media screen and (max-width: 605px){
.cover-text h3 {
    font-size: .5rem;
}

.cover-text h2 {
    font-size: .65rem;
}

@keyframes typing {
    from { width: 0 }
    to { width: 96% }
}
}

@media screen and (max-width: 565px){
    .circular {
        height: 75px;
    }

    .cover-text h3 {
        font-size: .45rem;
    }

    .cover-text h2 {
        font-size: .60rem;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 96% }
    }
}

@media screen and (max-width: 465px){
    .cover-content {
        width: 65%;
    }
    
    .cover-text h3 {
        font-size: .25rem;
        overflow-wrap: break-word;
    }

    .cover-text h2 {
        font-size: .48rem;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }
}